.app {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    background-color: #f8f8fc;
}
.login-form{
    background-color: white;
    padding: 2rem;
    box-shadow: 0 3px 10px 0px grey;
    display: flex;
    flex-direction: column;
    width: 15rem;
}
  
.email,.password {
    height: 25px;
    border: 1px solid rgba(0,0,0,0.3);
    margin-top: 5px;
}
.submit{
    background-color: #018ed2;
    border: 1px solid #018ed2;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
.submit:hover{
    background-color: #6cc2f0;
}
.button-div{
    display: flex;
    justify-content: center;
}
.input-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
